.container {
    height: 100vh; 
    width: 100vw; 
}
.contact-content {
    /* background: skyblue; */ 
    width: 40rem; 
    height: 30rem; 
}

ul {
    list-style: none;
    display: flex; 
    width: 30rem; 
    height: 10rem; 
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    margin: 0; 
    padding: 0; 
}
ul a {
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.3 );
    color: #333; 
    font-size: 2rem; 
    border-radius: 50%;
    padding: 1rem 1.2rem; 
    /* box-shadow: 0 8px 6px -6px black; */
}
ul li:hover {
   transform: scale(1.2); 
}

.linkedin-icon {
    color:  #2867B2; 
}
.twitter-icon {
    color: #1DA1F2; 
}
/* .mail-icon {

} */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    ul {
        width: 90%; 
    }
    ul a {
        padding: .6rem; 
        font-size: 1.5rem; 
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}