<div class="container d-flex justify-content-center align-items-center">
    <div class="contact-content d-flex justify-content-start align-items-center flex-column">
<!--         <img src="../../../assets/call-2s-200px.svg" alt="">
 -->        <ul>
            <li class="shadow-4"><a href="https://www.linkedin.com/in/erik-heinmert-675332179/"><i class="fab fa-linkedin-in linkedin-icon"></i></a></li>
            <li><a href="https://github.com/amazingcake446"><i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/EHeinmert"><i class="fab fa-twitter twitter-icon"></i></a></li>
            <li><a href="mailto:heinmert1998@hotmail.com"><i class="far fa-envelope mail-icon"></i></a></li>
        </ul>
    </div>
</div>