<div class="container d-flex justify-content-center flex-column text-center align-items-center">
    <div class="box">
        <img src="../../../assets/myAvatar.svg" class="about-image" alt="">
        <h4 class="title">About Me</h4>
        <p class="sub-title">I'm a Front End Developer from Växjö, Sweden</p>
        <div class="box-content">
            <p class="text">My name is Erik Heinmert. I am currently studying a front end education in Växjö, Sweden. I am passionate about learning everything in front end and at the same time trying to learn backend to certify myself as a full stack developer.
            <br><br>
            I have learned html, css, javascript and also the Angular framework. Right now I'm learning React and Nodejs</p>
        </div>
       
       
    </div>

</div>